<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename= 'style.css') }}">
</head>
<body>
    <h1> Hello weather app  like</h1>

    <form method="post">
        <input type="text" name="city" >
        <button type="submit">Submit</button>
    </form>
    {% if error %}
        <h1>{{error}}</h1>
    {% else %}
        {% if city_name %}
            <h1>you city is {{city_name}} </h1>
            <img src="https:{{icon}}" >
            <h1>codition: {{codition}} </h1>
            <h1>temp: {{temp}}.c </h1>
            <h1>FeelingTemp: {{FeelingTemp}}.c </h1>
            <h1>humidity: {{humidity}} %</h1>
            <h1>windspeed: {{windspeed}} </h1>
            <h1>time: {{time}} </h1>
            <h1>date: {{date}} </h1>
        {% else %}
            <h1>Enter City You Want Know Weather</h1>
        {% endif %}
    {% endif %}
    

</body>;
</html>